@{
    ViewBag.Title = "Home Page";
}

    <ul>
        <li><a href="/Campus">Campus</a></li>
        <li><a href="/Carreras">Carreras</a></li>
        <li><a href="/Decanatoes">Decanatoes</a></li>
        <li><a href="/Departamentoes">Departamentoes</a></li>
        <li><a href="/Estudiantes">Estudiantes</a></li>
        <li><a href="/Materias">Materias</a></li>
        <li><a href="/Profesors">Profesors</a></li>
        <li><a href="/Reclamos">Reclamos</a></li>
    </ul>